main {
  margin-top: 20px;
}

.files-section h2 {
  color: #1e70f1;
  margin-bottom: 15px;
  font-size: 24px;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: 20px;
}

.file-card {
  background-color: #e3f0ff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7ff;
}

.container {
  padding-top: 20px;
  width: 100vw;
}

.rect1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aed4ff; /* Light blue */
  padding: 10px 20px;
  width: 100vw; /* Full viewport width */
  height: 80px; /* Adjust height as necessary */
  margin-top: -20px;
}

.logo img {
  width: 50px; /* Adjust logo size */
}

.auth-options {
  display: flex;
  align-items: center;
}

.toggle:checked {
  background-color: #007bff; /* Optional: Style for when the checkbox is checked */
}

.auth-options label {
  margin-right: 10px;
  font-size: 20px;
  color: #000;
}

.toggle {
  margin-right: 20px;
  transform: scale(1.5); /* Increase size to 1.5x its original size */
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
  height: 40px;
}

/* Additional styling for the header section */
.header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-text h1 {
  font-size: 36px;
  font-weight: 500;
}

.header-text p {
  margin-top: 5px;
  color: #555;
}

.header-text img {
  margin-left: 20px;
  width: 100px; /* Larger image size */
  height: auto;
}
/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-right: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Toggle ON state */
input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Rounded slider (optional) */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
